<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{base :: head}">
</head>

<body>
<nav th:replace="~{base :: nav-bar}"></nav>
<section id="hero-lobby">
</section>
<section id=lobby-details>
    <h2 class="lobby-title"><span th:text="${lobby.title}"></span> by <span
            th:text="${lobby.creator.getUsername()}"></span></h2>
    <div class="lobby-info inline">
        <div class="info-left">
            <img class="image size-medium" th:src="${lobby.location.getImageUrl()}" alt="">
            <div class="info-text inline">
                <img class="icon-md" th:src="@{/icons/clock.png}" alt="Clock Icon">
                <span>Schedule: <span class="location-data" th:text="${{lobby.getScheduledTime()}}"></span></span>
            </div>
            <div class="info-text inline">
                <img class="icon-md" th:src="@{/icons/location.png}" alt="Location Pin Icon">
                <span class="location-data" th:text="${lobby.getLocation().getStadium()}"></span>
            </div>
            <div class="info-text inline">
                <img class="icon-md" th:src="@{/icons/search.png}" alt="Location Pin Icon">
                <span class="location-data" th:text="${lobby.getLocation().getAddress()}"></span>
            </div>
        </div>

        <div class="info-right inline">
            <div class="team column">
                <span class="team-title">TEAM 1</span>
                <span class="players-count">
                    <span th:text="${lobby.getTeam2().size()}"></span>
                    /
                    <span th:text="${(lobby.getMaxPlayers()) / 2}"></span>
                </span>
                <div class="players-list column" th:each="player : ${lobby.getTeam1()}">
                    <div class="player">
                        <img class="icon-md" th:src="${player.getPictureUrl()}" alt="Player Avatar">
                        <span th:text="${player.getUsername()}"></span>
                        <span class="inline" style="align-items: center; gap: 0.2rem">
                            <span th:text="${player.averageBehavior()}"></span>
                            <img class="icon-sm" th:src="@{/icons/behavior.png}" alt="Behavior Rating">
                        </span>
                        <span class="inline" style="align-items: center; gap: 0.2rem">
                            <span th:text="${player.averageSkills()}"></span>
                            <img class="icon-sm" th:src="@{/icons/skill.png}" alt="Skill Rating">
                        </span>
                    </div>
                </div>
            </div>
            <div class="team column">
                <span class="team-title">TEAM 2</span>
                <span class="players-count">
                    <span th:text="${lobby.getTeam2().size()}"></span>
                    /
                    <span th:text="${(lobby.getMaxPlayers()) / 2}"></span>
                </span>
                <div class="players-list column" th:each="player : ${lobby.getTeam2()}">
                    <div class="player" style="justify-items: end">
                        <span class="inline" style="align-items: center; gap: 0.2rem">
                            <img class="icon-sm" th:src="@{/icons/skill.png}" alt="Skill Rating">
                            <span th:text="${player.averageSkills()}"></span>
                        </span>
                        <span class="inline" style="align-items: center; gap: 0.2rem">
                            <img class="icon-sm" th:src="@{/icons/behavior.png}" alt="Behavior Rating">
                            <span th:text="${player.averageBehavior()}"></span>
                        </span>
                        <span th:text="${player.getUsername()}"></span>
                        <img class="icon-md" th:src="${player.getPictureUrl()}" alt="Player Avatar">
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>


<div th:replace="~{base :: scripts}"></div>
</body>
</html>