<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{base :: head}">
</head>

<body>
<nav th:replace="~{base :: nav-bar}"></nav>
<section id="hero-lobby" class="centered">
</section>

<section id="login">

    <div class="form-container">
        <form class="custom-form" th:action="@{/login-submit}" method="post">
            <p class="form-title">Login to your account</p>
            <input placeholder="Username" class="username input" type="text" name="username" autocomplete="off">
            <input placeholder="Password" class="password input" type="password" name="password" autocomplete="off">

            <span th:if="${param.error}" style="color: azure; margin-top: 0.5rem">Wrong username or password</span>
            <button class="btn btn-mid" type="submit">Login</button>

            <span class="step-text" style="color: azure">
                Don't have an account?<a class="text-link" th:href="@{/register}" style="margin-left: 1rem">Register</a>
            </span>
        </form>
    </div>

</section>


<div th:replace="~{base :: scripts}"></div>
</body>

</html>