<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{base :: head}">
</head>

<body>
<nav th:replace="~{base :: nav-bar}"></nav>
<section id="hero-lobby" class="centered">
</section>
<form action="/register-submit" th:object="${user}" method="POST">
    <div>
        <input th:field="*{firstName}"/>
        <p th:each="error: ${#fields.errors('firstName')}"
           th:text="${error}">Validation error</p>
    </div>
    <div>
        <input th:field="*{lastName}"/>
        <p th:each="error : ${#fields.errors('lastName')}"
           th:text="${error}">Validation error</p>
    </div>
    <div>
        <input th:field="*{username}"/>
        <p th:each="error : ${#fields.errors('username')}"
           th:text="${error}">Validation error</p>
    </div>
    <div>
        <input type="email" th:field="*{email}"/>
        <p th:each="error : ${#fields.errors('email')}"
           th:text="${error}">Validation error</p>
    </div>
    <div>
        <input type="password" th:field="*{password}"/>
        <p th:each="error : ${#fields.errors('password')}"
           th:text="${error}">Validation error</p>
    </div>
    <div>
        <input type="password" th:field="*{matchingPassword}"/>
        <p th:each="error : ${#fields.errors('matchingPassword')}"
           th:text="${error}">Validation error</p>
    </div>
    <button type="submit" >submit</button>
</form>





<div th:replace="~{base :: scripts}"></div>
</body>>
</html>