<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{base :: head}">
</head>

<body>
<nav th:replace="~{base :: nav-bar}"></nav>
<section id="hero-lobby" class="centered">
</section>

<section id="register">
    <div class="form-container">
        <form class="custom-form" style="height: 100%" th:action="@{/register-submit}" th:object="${user}"
              method="POST">
            <p class="form-title">Register New Account</p>

            <input class="input custom-input" th:field="*{firstName}" placeholder="First Name"/>


            <input class="input custom-input" th:field="*{lastName}" placeholder="Last Name"/>


            <input class="input custom-input" th:field="*{username}" placeholder="Username"/>


            <input class="input custom-input" type="email" th:field="*{email}" placeholder="E-mail"/>


            <input class="input custom-input" type="password" th:field="*{password}" placeholder="Password"/>


            <input class="input custom-input" type="password" th:field="*{matchingPassword}"
                   placeholder="Repeat Password"/>


            <div class="form-error" th:if="${message}" th:text="${message}"></div>

            <button class="btn btn-mid" type="submit" style="margin-top: 2rem">Register</button>
        </form>
    </div>
</section>


<div th:replace="~{base :: scripts}"></div>
</body>
</html>